<div style="display:none;" id="angularBridge"></div>

<style type="text/css">
	@media all and (min-width: 768px) {
		div.item-container {
			width: 18.7%;
		}
	}
</style>

<div class="container">
	<div class="jumbotron" style="margin-top:30px;">
		<h1>CariDulu</h1>
		<p style="color:blue;">Mau belanja online? Cari dulu di sini!</p>
	</div>

	<!-- <div class="row text-right" style="margin-right:5px; margin-bottom:20px;" id="fb-div"></div> -->

	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-6">
			<form role="form" ng-submit="search()">
				<select class="form-control" id="form_category" name="form_category" ng-model="category" ng-init="getCategories()">
					<option value="">=== Kategori ===</option>
					<option ng-repeat="obj in categories | orderBy:'CategoryOrder'" value="{{obj.Category}}">{{obj.Label}}</option>
				</select><br />
				<input type="text" class="form-control" ng-model="keyword" placeholder="Kata kunci"><br />
				<input type="tel" class="form-control" ng-model="minPrice" placeholder="Harga minimum" onkeypress="return isNumberKey(event);" onkeyup="this.value=numberWithCommas(this.value);" style="width:49%; float:left;">
				<input type="tel" class="form-control" ng-model="maxPrice" placeholder="Harga maximum" onkeypress="return isNumberKey(event);" onkeyup="this.value=numberWithCommas(this.value);" style="width:49%; float:right;">
				<div style="margin-top:50px;" ng-init="getSources()">
					<label class="checkbox-inline" style="margin-left: 10px;" ng-repeat="obj in sources | orderBy:'Name'"><input type="checkbox" value="{{obj.Name}}" ng-click="toggleSource(obj.Name)" ng-checked="selectedSources.indexOf(obj.Name) > -1">{{obj.Name}}</label>
				</div><br>
				<button type="submit" class="btn btn-default">C A R I</button>
			</form>
		</div>
		<div class="col-sm-3"></div>
	</div>

	<!-- ==============
	SUGGESTIONS SECTION
	=============== -->
	<div class="row" style="padding-left:10px;" ng-show="isSuggestionsExist">
		<hr />
		<h3>SUGGESTIONS</h3>
	</div>
	<div class="row">
		<div ng-repeat="obj in suggestions" class="item-container text-center">
			<span style="font-weight: bold;">{{obj._source.Source}}</span><br>
			<div style="text-overflow:ellipsis; white-space: nowrap; overflow: hidden; width: 100%">
				<a ng-mousedown="savePopular(obj._source.Uri)" href="{{obj._source.Uri}}" target="_blank" title="{{obj._source.Name}}">{{obj._source.Name}}</a>
			</div>
			<span style="font-size: 1.5em;">{{numberWithCommas(obj._source.Price)}}</span><br>
			<div class="cropped-image-container">
				<a ng-mousedown="savePopular(obj._source.Uri)" href="{{obj._source.Uri}}" target="_blank" title="{{obj._source.Name}}">
					<img class="cropped-image" style="max-width:100%;" src="assets/img/noimage.jpg" id="suggestions-preload-image_{{obj._id}}" />
				</a>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		// function fbLoginSuccessCallback() {
		// 	angular.element(document.getElementById('angularBridge')).scope().getSuggestions({
		// 		Id: id,
		// 		Token: token,
		// 		LoginType: 'fb',
		// 		Size: '5'
		// 	});
		// }
	</script>

	<!-- ==========
	POPULAR SECTION
	=========== -->
	<div class="row" style="padding-left:10px;" ng-show="isPopularExist" ng-init="getPopular({Size:'10'})">
		<hr />
		<h3>POPULAR</h3>
	</div>
	<div class="row">
		<div ng-repeat="obj in populars" class="item-container text-center">
			<span style="font-weight: bold;">{{obj.Source}}</span><br>
			<div style="text-overflow:ellipsis; white-space: nowrap; overflow: hidden; width: 100%">
				<a ng-mousedown="savePopular('{{obj.Uri}}')" href="{{obj.Uri}}" target="_blank" title="{{obj.Name}}">{{obj.Name}}</a>
			</div>
			<span style="font-size: 1.5em;">{{numberWithCommas(obj.Price)}}</span><br>
			<div class="cropped-image-container">
				<a ng-mousedown="savePopular('{{obj.Uri}}')" href="{{obj.Uri}}" target="_blank" title="{{obj.Name}}">
					<img class="cropped-image" style="max-width:100%;" src="assets/img/noimage.jpg" id="popular-preload-image_{{obj.Id}}" />
				</a>
			</div>
		</div>
	</div>
</div>